<!DOCTYPE html>
<html lang="en">
<html  xmlns:th="http://www.thymeleaf.org" lang="mk">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{'/static/images/transparent-logo.png'}">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body class="body-color">

<form role="form" th:action="@{/update}" th:method="post" th:object="${user}" class="poleuredi">
    <div class="imgcontainer">
        <img src="images/carpin-white.png" alt="Avatar" class="imgcontainer-img">
    </div>
    <h2 class="najava">Уреди го профилот</h2>
    <div class="container">
        <input type="hidden" th:field="*{ID}">
        <input class="input_ime" type="text" id="name" name="name" placeholder="Корисничко име" th:field="*{name}" > <br/>
        <p class="span-red" th:if="${#fields.hasErrors('name')}">Невалидно корисничко име</p>

        <input class="input_korisnichko_ime" type="text" id="email" name="email" placeholder="Email адреса" th:value="*{email}" ><br/>
        <p class="span-red" th:if="${#fields.hasErrors('email')}">Невалидна e-mail адреса</p>
        <p th:if="${emailExists}" class="span-red">Email адресата веќе постои</p>
        <input class="input_password" type="password" id="password" name="password" placeholder="Лозинка"  th:field="*{password}"> <br/>
        <p class="span-red" th:if="${#fields.hasErrors('password')}">Невалидна лозинка</p>

        <input type="submit" class="input_submit" value="Промени">

    </div>
    <a class="registerbtn" th:href="@{/}"><span>Почетна</span></a>

</form>

</body>
</html>