<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="mk">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{'/images/transparent-logo.png'}">
    <link rel="stylesheet" th:href="@{'/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{'/css/style.css'}">
</head>
<body class="body-color">

<form role="form" th:action="@{/register}" th:method="post" th:object="${user}" class="pole">
    <div class="imgcontainer">
        <img class="imgcontainer-img" src="images/carpin-white.png" alt="Avatar">
    </div>
    <h2 class="najava">Регистрирација</h2>
    <div class="container">

        <input class="input_ime" type="text" id="ime" name="ime" placeholder="Име и Презиме" th:field="*{name}" required> <br/>
        <p class="span-red" th:if="${#fields.hasErrors('name')}">Невалидно име и презиме</p>

        <!--<lable>Email адреса: </lable>-->
        <input class="input_korisnichko_ime" type="text" id="email" name="email" placeholder="Email адреса" th:field="*{email}" required><br/>
        <p class="span-red" th:if="${#fields.hasErrors('email')}">Невалидна email адреса</p>

        <!--<lable>Лозинка: </lable>-->
        <input class="input_password" type="password" id="password" name="password" placeholder="Лозинка" th:field="*{password}" required> <br/>
        <p class="span-red" th:if="${#fields.hasErrors('password')}">Невалидна лозинка</p>
        <input class="input_submit" type="submit" value="Регистрирај се">
        <p th:if="${emailExists}" class="span-red">Email адресата веќе постои</p>
    </div>
    <a class="registerbtn" th:href="@{/}"><span>Почетна</span></a>
</form>

</body>
</html>