<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="icon" th:href="@{/images/transparent-logo.png}">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <meta content="application/xhtml+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мој профил</title>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse nb">
        <div class="container-fluid">
            <div class="navbar-header">
                <img class="carpin-black" src="/images/carpin-black.png">
                Мој профил
            </div>

            <div class="navbar-header navbar-right">
                <img class="carpin-black upi" src="/images/user.png">
                <a class="upa" href="javascript: document.logoutForm.submit()" role="menuitem"> Одјави се</a>

                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Одјави се"/>
                </form>
            </div>
        </div>
    </nav>
</header>

<div class="korisnik row">

    <div  class="col-md-4 kori-div1">
        <div class="kori-div2">
            <img class="kori-img" src="/images/user.png">
        </div>
        <br>
        <h3>Корисничко име</h3> <h3 th:text="${user.getName()}"><b></b></h3>
        <br>
        <h3>E-mail</h3><h3 th:text="${user.getEmail()}"><b></b></h3>
        <br>
        <a class="promena" th:href="@{/update}"><span>Уреди профил</span></a>
        <br>

        <div>
            <br>
            <a class="promena" th:href="@{/}">Почетна</a>
        </div>

    </div>
    <div class="col-md-4">
        <h3>Последни пребарани рути</h3>
        <div class="map2" id="map" style="margin: 50px 5px;position:static !important;height:100%"></div>
    </div>

    <div class="korisnik-2 col-md-4">
        <h2>Историја на 5 <br>последни пребарувања</h2> <br>

        <div th:each="route: ${routes}">
            <h3>РУТА: </h3>
            <ul th:each="name:${route.streetNames}">
                <li th:if="${name.streetName != null && name.streetName != ''}" th:text="${name.streetName}" />
                <div class="points">
                    <div hidden th:each="point: ${route.points}">
                        <p class="lat" th:text="${point.lat}" hidden></p>
                        <p class="lng" th:text="${point.lng}" hidden></p>
                    </div>
                </div>
            </ul>
        </div>

    </div>
</div>
<script>
    $(document).ready(function(){
     var map = L.map('map').setView([42.006510, 21.421958], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        var colors = ["red", "green", "blue", "yellow", "pink"]
        $(".points").each(function( index ) {
           var lats = []
           var lngs = []
           $(this).children("div").each(function(){$(this).children(".lat").each(function(ind){ lats.push($(this).text())})});
           $(this).children("div").each(function(){$(this).children(".lng").each(function(ind){ lngs.push($(this).text())})});
           var latlng = [];
            for (ind in lats){
                latlng.push([
                    lngs[ind],
                    lats[ind]
                ]);
            }
         var polyline = L.polyline(latlng, {colors: colors[index] }).addTo(map);
         console.log(polyline);
         map.fitBounds(polyline.getBounds());
        })
    });
</script>
</body>
</html>