body {font-family: Arial, Helvetica, sans-serif;}/*body font-family*/
main {
  width: 800px;
  margin: auto !important;
}
/*maps style for home-page and user-page*/
.map1, .map2{
  position: absolute;
  bottom: 120px;
  left:0;
  right: 0;
}
.map1 {top:85px;}
.map2{
  top:-45px;
  margin: 50px 5px;
  position:static !important;
  height:100%
}
/*color-black*/
.input_line, .one-input, .buttton, .buttton-2, .buttton-izberi, .buttton-person, .buttton-car, .select-1, .select-2{color: black;}
/*color-white*/
footer, .info-la, .street, .registerbtn, .input_submit, .registerbtn-detali, .promena, .span-1, .span-2, .upa, .as {color: white;}
/*background-color*/
footer, .input_line, .street, .nb, .body-color {background-color: #272727;}
.nb{height: 85px;}/*header navbar*/
.carpin-black{/*logo*/
  width: 70px;
  height: 70px;
  margin-left: -20px;
}
.input_line{/*input_line for manual control*/
  position: absolute;
  position: fixed;
  bottom: 130px;
  left: 20%;
  width: 900px;
  height: 100px;
  z-index:600;
  border-radius: 25px;
}
.one-input, .two-input, .search-input{/*first,second input in input_line and search input in navbar*/
  position: relative;
  top: 2px;
  left: 50px;
  border-radius: 10px;
  padding: 6px 30px 6px 30px;
  background-color: white;
  z-index:600;
  font-weight: bold;
}
.span-1{padding-left: 50px;}/*span-1 and span-2 text in input_line*/
.span-2{padding-left: 70px;}
/*efect for buttons*/
.buttton-2:hover, .buttton:hover, .buttton-person:hover, .buttton-car:hover {background-color: #EBC74A}
.buttton-2:active, .buttton:active, .buttton-person:active, .buttton-car:active {
  background-color: #008b8b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.buttton-izberi {/*button in pop-up*/
  width: auto;
  height: auto;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin-left: 20%;
  top: 107px;
  background-color: #FFD15B;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}
.buttton-2, .buttton {/*button 'Коoрдинати' and 'Рута'*/
  padding: 5px 5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin-top: 5px;
  top: 10px;
  background-color: #FFD15B;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  width: 110px;
}
.buttton-2 {margin-left: 75px;}
.buttton {margin-left: 5px;}
.buttton-person, .buttton-car {/*button for person and car*/
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  margin-top: 20px;
  top: 107px;
  background-color: #FFD15B;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}
.select-1, .select-2{/*select button for 'Пристап' and 'Тип'*/
  padding: 5px 5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin-left: 90px;
  margin-top: 20px;
  top: 107px;
  background-color: #FFD15B;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  width: 110px;
}
.select-1{margin-left: 90px;}
.select-2{margin-left: 10px;}
footer{/*foother*/
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
}
.footer-style{
  padding-left: 10px;
  padding-top: 35px;
  font-size: 20px;
}
.street{/*field 'Рута'*/
  position: absolute;
  position: fixed;
  top: 200px;
  left: 50px;
  width: auto;
  height: auto;
  z-index:600;
  border-radius: 25px;
}
.p-ruta{/*field 'Рута'*/
  text-align: center;
  padding: 10px;
}
.input-address{/*field 'Рута' for all streets*/
  color:white;
  padding: 10px 5px 10px 5px;
}
.input_korisnichko_ime, .input_password, .input_ime, .input_detali {/*input fields for 'корисничко име','лозинка','име','детали'*/
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px;
  border: 5px solid #272727;
}
.input_korisnichko_ime, .input_password, .input_ime {
  width: 100%;
  padding: 12px 20px;
}
.input_detali {
  width: 200%;
  padding: 7px 10px;
}
.table-detali{margin-left: 100px;}
.input_submit {/*sign-in button najavi se! */
  background-color: #008b8b;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  border: 5px solid #272727;
  font-weight: bold;
}
.input_submit:hover {/*efect for input_submit */
  opacity: 0.8;
}
.imgcontainer {/*images in sign-in, registar,parking-details, editprofile*/
  text-align: center;
  margin: 24px 0 0 0;
  padding-top: 5px;
}
.imgcontainer-img{max-width:200px;}
.container, .container-detali {padding: 16px;}/*input field in pages*/
.container {width: 500px;}
.container-detali {width: 700px;}
.pole, .pole-detali{
  position: relative;
  background-color: white;
  margin: auto;
  border-radius: 25px;
}
.pole{
  height: 630px;
  width: 600px;
}
.pole-detali{
  height: 1000px;
  width: 800px;
}
.img-detali{max-width:200px;}
.najava{
  text-align: center;
  font-weight: bold;
}
.labela{font-weight: bold;}
.registerbtn, .registerbtn-detali, .promena, .detali-home {/*buttons*/
  cursor: pointer;
  opacity: 0.9;
  border-radius: 10px;
  border: 5px solid #272727;
  font-weight: bold;
  text-align: center;
  transition: all 0.5s;
}
.registerbtn, .registerbtn-detali {
  background-color: #008b8b;
  padding:16px 20px;
  width: 100%;
}
.registerbtn {margin: 8px 0 8px 240px;}
.registerbtn-detali {margin: 8px 0 8px 340px;}
.promena {
  background-color: #008b8b;
  padding:3px 10px;
  margin: 8px 0 8px 0;
  width: 220px;
}
.detali-home {
  background-color: #FFD15B;
  color: #272727;
  padding:3px 3px;
  margin: 3px 0;
  width: 300px;
}
/*efect for buttons*/
.registerbtn span, .registerbtn-detali span, .promena span, .detali-home span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.registerbtn span:after, .registerbtn-detali span:after, .promena span:after, .detali-home span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.registerbtn:hover span, .registerbtn-detali:hover span, .promena:hover span, .detali-home:hover span {
  padding-right: 25px;
}
.registerbtn:hover span:after, .registerbtn-detali:hover span:after, .promena:hover span:after, .detali-home:hover span:after {
  opacity: 1;
  right: 0;
}
.korisnik{padding: 5% 10% 0 10%;}
.korisnik-2{float: right;}
.p-0{
  padding: 0px;
}
.w-h-1-5{
  width: 1.5em;
  height: 1.5em;
}
.span-red{color:red;}
.dp-no{display: none;}

.as{font-weight: bold;}
.upi{
  border-radius: 50%;
  background-color: white;
}
.poleuredi{
  position: relative;
  background-color: white;
  height: 750px;
  width: 600px;
  margin: auto;
  border-radius: 25px;
}
.kori-div1{float: left;}
.kori-div2{padding-left: 15%;}
.kori-img{width: 150px; border-radius: 50%; height: 150px;background-color: white;}
/*--------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1025px) {/*for IPad Pro,IPad*/
  .pole{width: 450px;}
  .img-detali{max-width:150px;}
  .pole-detali{width: 540px;}
  .table-detali{margin-left: 0px;}
  .input_detali {
    width: 180%;
    padding: 5px 10px;
  }
  .input_korisnichko_ime, .input_password, .input_submit, .input_ime {width: 89%;}
  .registerbtn, .registerbtn-detali {margin-left: 40%;}
  .input_line{
    bottom: 140px;
    width: 730px;
    height: 80px;/*70px*/
    border-radius: 15px;
    left: 15%;
  }
  .one-input, .two-input, .search-input{
    left: 40px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    padding: 2px 0 2px 0;
    font-size: 12px;
  }
  .buttton-2,.buttton {
    padding: 3px 3px;
    width: 95px;
    border-radius: 5px;
    font-size: 12px;
    bottom: 10px;
  }
  .span-1{font-size: 12px; padding-left: 50px;}
  .span-2{font-size: 12px; padding-left: 80px;}
  .buttton-person, .buttton-car {
    width: 20px;
    height: 15px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
  }
  .select-1, .select-2 {
    padding: 3px 3px;
    margin-left: 40px;
    border-radius: 5px;
    font-size: 12px;
    width: 80px;
  }
  .poleuredi {width: 450px;}
}
/*--------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 700px) {/*for iPhone 6/7/8 Plus, Pixel 2 XL, Pixel2*/
  header{font-size: 8px;}
  .carpin-black{
    width: 60px;
    height: 60px;
  }
  .pole{width: 350px;}
  .input_korisnichko_ime, .input_password, .input_submit, .input_ime {width: 68%;}
  .registerbtn {margin-left: 120px;}
  .pole-detali{
    height: 900px;
    width: 390px;
  }
  .input_detali {
    width: 110%;
    margin: 5px 0;
  }
  .registerbtn-detali {
    padding:10px 20px;
    margin-left: 37%;
  }
  .input_line{
    bottom: 110px;
    width: 360px;
    height: 70px;
    left: 6%;
  }
  .one-input, .two-input, .search-input{
    left: 10px;
    width: 100px;
    font-size: 8px;
  }
  .buttton-2, .buttton {
    width: 55px;
    font-size: 8px;
  }
  .buttton-2 {margin-left: 20px;}
  .span-1{font-size: 9px;padding-left: 5px;}
  .span-2{font-size: 9px;padding-left: 0px;}
  .buttton-person, .buttton-car {width: 19px;}
  .select-1, .select-2 {
    margin-left: 0px;
    font-size: 8px;
  }
  .select-1 {width: 60px;}
  .select-2 {width: 42px;}
  .street{
    top: 100px;
    left: 20px;
  }
  .map1 {bottom: 100px;}
  footer{
    height: 100px;
    font-size: 10px;
  }
  .footer-style{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 15px;
  }
  .detali-home {font-size: 12px;}
  .korisnik-2{top:110px;}
}
/*----------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 378px) {/*for iPhone 6/7/8, iPhone X*/
  .input_line{
    width: 330px;
    left: 5%;
  }
  .one-input, .two-input, .search-input{left: 5px;}
  .buttton-2 {margin-left: 5px;}
  .buttton {margin-left: 0px;}
  .span-1, .span-2{font-size: 8px;padding-left: 1px;}
  .buttton-person, .buttton-car {width: 18px;}
  .pole-detali{
    height: 820px;
    width: 350px;
  }
  .input_detali {
    width: 95%;
    margin: 4px 0;
  }
  .registerbtn-detali {margin: 4px 0 4px 37%;/*margin: 4px 0 0 37%;?*/}
}
/*--------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 367px) {/*for MotoG4,Galaxy S5,*/
  header{font-size: 7px;}
  .one-input, .two-input, .search-input{left: 3px;}
  .span-1{
    padding-left: 5px;
  }
  .span-2{
    padding-left: 0px;
  }
  .buttton-person, .buttton-car {width: 17px;}
  .pole{
    height: 610px;
    width: 330px;
  }
  .input_korisnichko_ime, .input_password, .input_ime, .input_submit {
    width: 65%;
    padding: 9px 20px;
  }
  .registerbtn {margin-left: 110px;}
  .img-detali{max-width:120px;}
  .pole-detali{
    height: 810px;
    width: 340px;
  }
  .input_detali {
    width: 90%;
    margin: 5px 0;
  }
  .registerbtn-detali {margin-left: 37%;}
}
/*--------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 325px) {/*for iPone 5/SE*/
  body {font-size: 15px;}
  .pole{
    height: 535px;
    width: 300px;
  }
  .input_korisnichko_ime, .input_password, .input_ime, .input_submit {
    width: 58%;
    padding: 5px 20px;
    margin: 2px 0;
  }
  .registerbtn {
    padding:7px 20px;
    margin-left: 100px;
  }
  .img-detali{max-width:110px;}
  .pole-detali{
    height: 750px;
    width: 300px;
  }
  .input_detali {
    width: 85%;
    padding: 3px 10px;
  }
  .input_line{
    width: 315px;
    left: 1%;
  }
  .one-input, .two-input, .search-input{left: 5px;}
  .one-input{width: 85px;}
  .buttton-2,.buttton {margin-left: 5px;}
  .buttton {margin-left: 0px;}
  .span-1, .span-2{font-size: 7px;padding-left: 4px;}
  .buttton-person, .buttton-car {width: 15px;}
  .select-1, .select-2 {width: 52px;}
}