#map {
  position: absolute;
  top:85px;
  bottom: 120px;
  left:0;
  right: 0;
}

main {
  width: 800px;
  margin: auto !important;
}
.carpin-black{
  width: 70px;
  height: 70px;
}
.p-ruta{
  text-align: center;padding-left: 10px;padding-right: 10px; padding-top: 10px;padding-bottom: 10px;
}

.input_line{
  position: absolute;
  color: black;
  bottom: 130px;
  width: 900px;
  position: fixed;
  height: 100px;
  background-color: #272727;
  z-index:600;
  border-radius: 25px;
  left: 20%;
}
.one-input{
  position: relative;
  top: 2px;
  left: 45px;
  border-radius: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  z-index:600;
  font-weight: bold;
}
.two-input{
  position: relative;
  top: 2px;
  left: 50px;
  border-radius: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
}
.span-1{
  color:white; padding-left: 50px;
}
.span-2{
  color:white; padding-left: 70px;
}

.buttton {
  padding: 5px 5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  margin-left: 5px;
  margin-top: 2px;
  top: 10px;
  background-color: #FFD15B;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  width: 110px;
}

.buttton:hover {background-color: #EBC74A}

.buttton:active {
  background-color: #008b8b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttton-2 {
  padding: 5px 5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  margin-left: 75px;
  margin-top: 5px;
  top: 10px;
  background-color: #FFD15B;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  width: 110px;
}

.buttton-2:hover {background-color: #EBC74A}

.buttton-2:active {
  background-color: #008b8b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttton-person {
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  margin-left: 5px;
  margin-top: 20px;
  top: 107px;
  background-color: #FFD15B;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.buttton-person:hover {background-color: #EBC74A}

.buttton-person:active {
  background-color: #008b8b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.buttton-car {
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  margin-left: 5px;
  margin-top: 20px;
  top: 107px;
  background-color: #FFD15B;
  border: none;
  border-radius: 10px;
  /*box-shadow: 0 9px #999;*/
  font-weight: bold;
}

.buttton-car:hover {background-color: #EBC74A}

.buttton-car:active {
  background-color: #008b8b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.select-1{
  padding: 5px 5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  margin-left: 90px;
  margin-top: 20px;
  top: 107px;
  background-color: #FFD15B;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  width: 110px;
}
.select-2{
  padding: 5px 5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  margin-left: 10px;
  margin-top: 20px;
  top: 107px;
  background-color: #FFD15B;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  width: 110px;
}
footer{
  position: absolute;
  color: white;
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 120px;
  background-color: #272727;
}
.footer-style{
  padding-left: 10px; padding-top: 35px; font-size: 20px;
}
.info-la{
  color: white;
}
.street{
  position: absolute;
  color: white;
  background-color: #272727;
  top: 200px;
  width: auto;
  position: fixed;
  height: auto;
  z-index:600;
  border-radius: 25px;
  left: 50px;
}

.registerbtn {
  background-color: #008b8b;
  color: white;
  padding:16px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
  border: 5px solid #272727;
  font-weight: bold;
  margin-left: 240px;
  text-align: center;
  transition: all 0.5s;
}

.registerbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.registerbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.registerbtn:hover span {
  padding-right: 25px;
}

.registerbtn:hover span:after {
  opacity: 1;
  right: 0;
}
body {font-family: Arial, Helvetica, sans-serif;}

.input_korisnichko_ime, .input_password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px;
  border: 5px solid #272727;
}
.input_ime{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px;
  border: 5px solid #272727;
}
.input_detali {
  width: 200%;
  padding: 7px 10px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px;
  border: 5px solid #272727;
}
.table-detali{
  margin-left: 100px;
}
.input_submit {
  background-color: #008b8b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  border: 5px solid #272727;
  font-weight: bold;
}

.input_submit:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 0 0;
  padding-top: 5px;
}

.container {
  padding: 16px;
  width: 500px;
}
.container-detali {
  padding: 16px;
  width: 700px;
}
.pole{
  position: relative;
  background-color: white;
  height: 630px;
  width: 600px;
  margin: auto;
  border-radius: 25px;
}
.pole-detali{
  position: relative;
  background-color: white;
  height: 1000px;
  width: 800px;
  margin: auto;
  border-radius: 25px;
}
.img-detali{
  max-width:200px;
}
.najava{
  text-align: center;
  font-weight: bold;
}
.labela{
  font-weight: bold;
}

.registerbtn-detali {
  background-color: #008b8b;
  color: white;
  padding:16px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
  border: 5px solid #272727;
  font-weight: bold;
  margin-left: 340px;
  text-align: center;
  transition: all 0.5s;
}

.registerbtn-detali span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.registerbtn-detali span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.registerbtn-detali:hover span {
  padding-right: 25px;
}

.registerbtn-detali:hover span:after {
  opacity: 1;
  right: 0;
}

.promena {
  background-color: #008b8b;
  color: white;
  padding:3px 10px;
  margin: 8px 0;
  cursor: pointer;
  width: 220px;
  opacity: 0.9;
  border-radius: 10px;
  border: 5px solid #272727;
  font-weight: bold;
  margin-left: 0px;
  text-align: center;
  transition: all 0.5s;
}

.promena span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.promena span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.promena:hover span {
  padding-right: 25px;
}

.promena:hover span:after {
  opacity: 1;
  right: 0;
}

.detali-home {
  background-color: #FFD15B;
  color: #272727;
  padding:3px 3px;
  margin: 3px 0;
  cursor: pointer;
  width: 300px;
  opacity: 0.9;
  border-radius: 10px;
  border: 5px solid #272727;
  font-weight: bold;
  text-align: center;
  transition: all 0.5s;
}

.detali-home span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.detali-home span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.detali-home:hover span {
  padding-right: 25px;
}

.detali-home:hover span:after {
  opacity: 1;
  right: 0;
}
.korisnik{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
.korisnik-2{
  float: right;
}




/*--------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1025px) {
  .pole{
    width: 450px;
  }
  .img-detali{
    max-width:150px;
  }
  .pole-detali{
    width: 540px;
  }
  .table-detali{
    margin-left: 0px;
  }
  .input_detali {
    width: 180%;
    padding: 5px 10px;
  }
  .input_korisnichko_ime, .input_password {
    width: 89%;
  }
  .input_submit {
    width: 89%;
  }
  .registerbtn {
    margin-left: 40%;
  }
  .registerbtn-detali {
    margin-left: 40%;
  }
  .input_ime{
    width: 89%;
  }
  .input_line{
    bottom: 140px;
    width: 730px;
    height: 70px;
    border-radius: 15px;
    left: 15%;
  }
  .one-input{
    left: 35px;
    border-radius: 5px;
    text-align: center;
    padding-top:2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    width: 200px;
    font-size: 12px;
  }
  .two-input{
    left: 40px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
  }
  .buttton-2 {
    padding: 3px 3px;
    width: 95px;
    border-radius: 5px;
    font-size: 12px;
  }
  .buttton {
    padding: 3px 3px;
    width: 75px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 12px;
    bottom: 10px;
  }
  .span-1{
    font-size: 12px;padding-left: 50px;
  }
  .span-2{
    font-size: 12px;padding-left: 80px;
  }
  .buttton-person {
    width: 20px;
    height: 15px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
  }
  .buttton-car {
    width: 20px;
    height: 15px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
  }
  .select-1 {
    padding: 3px 3px;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 80px;
  }
  .select-2 {
    padding: 3px 3px;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 80px;
  }
}

/*--------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 700px) {
  .pole{
    width: 350px;
  }
  .input_korisnichko_ime, .input_password {
    width: 68%;
  }
  .input_submit {
    width: 68%;
  }
  .registerbtn {
    margin-left: 120px;
  }
  .input_ime{
    width: 68%;
  }
  .img-detali{
    max-width:150px;
  }
  .pole-detali{
    height: 900px;
    width: 390px;
  }
  .table-detali{
    margin-left: 0px;
  }
  .input_detali {
    width: 110%;
    padding: 5px 10px;
    margin: 5px 0;
  }
  .registerbtn-detali {
    padding:10px 20px;
    margin-left: 37%;
  }
  header{
    font-size: 15px;
  }
  .input_line{
    bottom: 110px;
    width: 360px;
    height: 70px;
    border-radius: 15px;
    left: 6%;
  }
  .one-input{
    left: 10px;
    border-radius: 5px;
    text-align: center;
    padding-top:2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100px;
    font-size: 8px;
  }
  .two-input{
    left: 10px;
    border-radius: 5px;
    text-align: center;
    width: 110px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 8px;
  }
  .buttton-2 {
    padding: 3px 3px;
    width: 55px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 8px;
  }
  .buttton {
    padding: 3px 3px;
    width: 50px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
    bottom: 10px;
  }
  .span-1{
    font-size: 9px;padding-left: 5px;
  }
  .span-2{
    font-size: 9px;padding-left: 0px;
  }
  .buttton-person {
    width: 19px;
    height: 15px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
  }
  .buttton-car {
    width: 19px;
    height: 15px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
  }
  .select-1 {
    padding: 3px 3px;
    margin-left: 0px;
    border-radius: 15px;
    font-size: 8px;
    width: 60px;
  }
  .select-2 {
    padding: 3px 3px;
    margin-left: 0px;
    border-radius: 15px;
    font-size: 8px;
    width: 42px;
  }
  .street{
    top: 100px;
    left: 20px;
  }
  #map {
    bottom: 100px;
  }
  footer{
    height: 100px;
    font-size: 10px;
  }
  .footer-style{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 15px;
  }
  .detali-home {
    font-size: 12px;
  }
}
/*----------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 378px) {
  header{
    font-size: 10px;
  }
  .input_line{
    bottom: 110px;
    width: 330px;
    height: 70px;
    border-radius: 15px;
    left: 5%;
  }
  .one-input{
    left: 5px;
    border-radius: 5px;
    text-align: center;
    padding-top:2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100px;
    font-size: 8px;
  }
  .two-input{
    left: 5px;
    border-radius: 5px;
    padding-top: 2px;
    width: 100px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 8px;
  }
  .buttton-2 {
    padding: 3px 3px;
    width: 55px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 8px;
  }
  .buttton {
    padding: 3px 3px;
    width: 50px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
    bottom: 10px;
  }
  .span-1{
    font-size: 8px;padding-left: 5px;
  }
  .span-2{
    font-size: 8px;padding-left: 0px;
  }
  .buttton-person {
    width: 16px;
    height: 15px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
  }
  .buttton-car {
    width: 18px;
    height: 15px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
  }
  .select-1 {
    padding: 3px 3px;
    margin-left: 0px;
    border-radius: 15px;
    font-size: 8px;
    width: 60px;
  }
  .select-2 {
    padding: 3px 3px;
    margin-left: 0px;
    border-radius: 15px;
    font-size: 8px;
    width: 42px;
  }
  .pole{
    width: 350px;
  }
  .input_korisnichko_ime, .input_password {
    width: 68%;
  }
  .input_submit {
    width: 68%;
  }
  .registerbtn {
    margin-left: 120px;
  }
  .input_ime{
    width: 68%;
  }
  .img-detali{
    max-width:150px;
  }
  .pole-detali{
    height: 820px;
    width: 350px;
  }
  .table-detali{
    margin-left: 0px;
  }
  .input_detali {
    width: 95%;
    padding: 5px 10px;
    margin: 4px 0;
  }
  .registerbtn-detali {
    padding:10px 20px;
    margin: 4px 0;
    margin-left: 37%;
  }
}

/*--------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 367px) {
  header{
    font-size: 10px;
  }
  .input_line{
    bottom: 110px;
    width: 330px;
    height: 70px;
    border-radius: 15px;
    left: 5%;
  }
  .one-input{
    left: 5px;
    border-radius: 5px;
    text-align: center;
    padding-top:2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100px;
    font-size: 8px;
  }
  .two-input{
    left: 5px;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
    width: 100px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 8px;
  }
  .buttton-2 {
    padding: 3px 3px;
    width: 55px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 8px;
  }
  .buttton {
    padding: 3px 3px;
    width: 50px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
    bottom: 10px;
  }
  .span-1{
    font-size: 8px;padding-left: 5px;
  }
  .span-2{
    font-size: 8px;padding-left: 0px;
  }
  .buttton-person {
    width: 16px;
    height: 15px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
  }
  .buttton-car {
    width: 17px;
    height: 15px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
  }
  .select-1 {
    padding: 3px 3px;
    margin-left: 0px;
    border-radius: 15px;
    font-size: 8px;
    width: 60px;
  }
  .select-2 {
    padding: 3px 3px;
    margin-left: 0px;
    border-radius: 15px;
    font-size: 8px;
    width: 42px;
  }
  .street{
    top: 100px;
    left: 20px;
  }
  #map {
    bottom: 100px;
  }
  footer{
    height: 100px;
    font-size: 10px;
  }
  .footer-style{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 15px;
  }
  .detali-home {
    font-size: 12px;
  }
  .pole{
    height: 610px;
    width: 330px;
  }
  .input_korisnichko_ime, .input_password {
    width: 65%;
    padding: 9px 20px;
  }
  .input_submit {
    padding: 11px 20px;
    width: 65%;
  }
  .input_ime{
       width: 65%;
       padding: 9px 20px;
     }
  .registerbtn {
    margin-left: 110px;
  }
  .img-detali{
    max-width:120px;
  }
  .pole-detali{
    height: 810px;
    width: 340px;
  }
  .table-detali{
    margin-left: 0px;
  }
  .input_detali {
    width: 90%;
    padding: 5px 10px;
    margin: 5px 0;
  }
  .registerbtn-detali {
    padding:10px 20px;
    margin-left: 37%;
  }
}


/*--------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 325px) {

  body {font-size: 15px;}
  .pole{
    height: 535px;
    width: 300px;
  }
  .input_korisnichko_ime, .input_password {
    width: 58%;
    padding: 5px 20px;
    margin: 2px 0;
  }
  .input_submit {
    padding: 7px 20px;
    width: 58%;
  }
  .input_ime{
    width: 58%;
    padding: 5px 20px;
  }
  .registerbtn {
    padding:7px 20px;
    margin-left: 100px;
  }
  .img-detali{
    max-width:110px;
  }
  .pole-detali{
    height: 750px;
    width: 300px;
  }
  .table-detali{
    margin-left: 0;
  }
  .input_detali {
    width: 85%;
    padding: 3px 10px;
    margin: 5px 0;
  }
  .registerbtn-detali {
    padding:10px 20px;
    margin-left: 37%;
  }
  .input_line{
    bottom: 110px;
    width: 315px;
    height: 70px;
    border-radius: 15px;
    left: 1%;
  }
  .one-input{
    left: 5px;
    border-radius: 5px;
    text-align: center;
    padding-top:2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    width: 85px;
    font-size: 8px;
  }
  .two-input{
    left: 5px;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100px;
    font-size: 8px;
  }
  .buttton-2 {
    padding: 3px 3px;
    width: 55px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 8px;
  }
  .buttton {
    padding: 3px 3px;
    width: 50px;
    margin-left: 0px;
    top: 107px;
    border-radius: 5px;
    font-size: 8px;
    bottom: 10px;
  }
  .span-1{
    font-size: 7px;padding-left: 5px;
  }
  .span-2{
    font-size: 7px;padding-left: 0px;
  }
  .buttton-person {
    width: 20px;
    height: 15px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
  }
  .buttton-car {
    width: 20px;
    height: 15px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
  }
  .select-1 {
    padding: 3px 3px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 8px;
    width: 60px;
  }
  .select-2 {
    padding: 3px 3px;
    margin-left: 0px;
    border-radius:5px;
    font-size: 8px;
    width: 42px;
  }
}